* {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  .pricing-container {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    header {
      //banner背景
      .price-bg {
        background: #f7f9fd 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 0px 300px;
        width: 100%;
        height: 470px;
        position: absolute;
        z-index: -20;
      }
      nav {
        @include navbar;
        button {
          @include navbar-price-btn;
          font-size: $font-s;
        }
      }
      .fixed {
        background: #fff;
        border-bottom: #ffd153 2px solid;
        max-width: 1200px;
      }
      .price-banner {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        .banner-txt {
          width: 30%;
          height: 70px;
          margin-top: 50px;
          margin-left: 139px;
          text-align: left;
          h2 {
            font-size: $font-xl;
            font-weight: $font-bold;
            margin-bottom: 24px;
          }
        }
        .banner-bg {
          position: absolute;
          right: 0;
          top: 0;
          z-index: -5;
        }
      }
    }
    .goTop {
      @include goTop-btn;
    }
    main {
      margin-top: 400px;
      //方案選擇
      .price-plan {
        max-width: 70%;
        margin: 0 auto;
        h3 {
          text-align: center;
          font-size: $font-l;
          font-weight: $font-bold;
          margin-bottom: 48px;
        }
        .users {
          display: flex;
          justify-content: center;
          gap: 16px;
          margin-bottom: 54px;
          button {
            @include users-btn-hollow;
          }
          .active {
            background-color: $theme-color;
            color: #fff;
          }
        }

        .plan-container {
          max-width: 90%;
          margin: 0 auto;
          display: flex;
          justify-content: space-around;
          gap: 16px;
          h3 {
            font-size: $font-m;
          }
          button {
            @include users-btn-solid;
          }
          .plan-card {
            width: 60%;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            position: relative;
            .plan-content {
              padding: 10px 29px 32px 29px;
              ul {
                margin-bottom: 32px;
                li {
                  margin-bottom: 16px;
                  img {
                    margin-right: 16px;
                  }
                }
              }
              button {
                display: block;
                margin: 0 auto;
              }
            }
          }
          h3 {
            padding-top: 15px;
            padding-bottom: 16px;
            border-bottom: 1px solid #dddddd;
            margin-bottom: 32px;
          }
          p {
            text-align: center;
            line-height: 1.6rem;
            width: 75%;
            margin: 0 auto 32px auto;
          }
          .monthly {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            .info-card {
              width: 169px;
              height: 108px;
              background: #f5f5f5 0% 0% no-repeat padding-box;
              border-radius: 12px;
              text-align: center;
              padding: 0 2px;
              p {
                font-size: $font-xxs;
                margin-bottom: 6px;
                padding-top: 16px;
              }
              div {
                font-size: $font-l;
                padding-bottom: 24px;

                span {
                  font-size: $font-xxs;
                  margin-left: 8px;
                  font-weight: $font-bold;
                }
              }
              .info-card-txt {
                color: $theme-color;
              }
            }
          }
          h4 {
            margin: 33px 21px;
            font-size: 29px;
          }
        }
      }
      .questions {
        max-width: 70%;
        margin-top: 100px;
        margin: 100px auto;
        h3 {
          text-align: center;
          margin-bottom: 48px;
          font-size: $font-l;
          font-weight: $font-bold;
        }
        .question-item {
          transition: all 0.3s ease-in-out;
          button {
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            border: none;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 16px 32px;
            cursor: pointer;
            margin-bottom: 16px;
            position: relative;
            transition: all 0.3s ease;

            &:hover {
              color: $theme-color;
            }

            &::after {
              content: url("/chatTalker_images/icon_plus.svg");
              position: absolute;
              right: 32px;
            }
            p {
              font-size: $font-s;
            }
          }
          .answer {
            display: none;
            color: #747474;
            text-align: left;
            line-height: 1.8rem;
            padding: 24px 32px;
          }
        }
        .question-item-show {
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 2px 10px #00000014;
          border-radius: 12px;
          margin-bottom: 20px;

          button {
            margin-bottom: 0;
            box-shadow: none;
            color: $theme-color;

            &::after {
              content: url("/chatTalker_images/icon_minus.svg");
              position: absolute;
              right: 32px;
            }
          }
          .answer {
            display: block;
          }
        }
      }
    }
    footer {
      .copyright {
        @include copyright;
      }
    }
  }
}
