@mixin navbar {
  padding: 30px 84.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  .logo {
    width: 218px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@mixin navbar-mobile {
  max-width: 390px;
  height: 72px;
  padding: 2px 8px;
  justify-content: space-around;
  background: #fff;
  border-bottom: #ffd153 2px solid;
}
