//pricing-btn

@mixin navbar-price-btn {
  font-size: 16px;
  font-weight: $font-light;
  padding: 8px 32px;
  background-color: $price-btn;
  color: #fff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $price-btn-hover;
  }
}

@mixin users-btn-solid {
  background-color: $theme-color;
  color: #fff;
  padding: 12px 32px;
  font-size: $font-s;
  font-weight: $font-light;
  border-radius: 27px;
  border: 1px solid $theme-color;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  &:hover {
    background-color: $pric-btn-hover2;
  }
}

@mixin users-btn-hollow {
  background-color: #fff;
  color: $theme-color;
  padding: 12px 32px;
  font-size: $font-s;
  font-weight: $font-light;
  border-radius: 27px;
  border: 1px solid $theme-color;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  &:hover {
    background-color: $theme-color;
    color: #fff;
  }
}
